<style type="text/css">
  #inventory-items .text-danger {
      color: #a94442;
  }
</style>
<div class="span6" id="inventory-items">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Item</h5>
        </div>
        <div class="widget-content nopadding">
          <form @submit.prevent="saveItem()" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Item name</label>
              <div class="controls">
                <input v-model="item.name" type="text" class="span11" placeholder="Item name" />
                <span class="text-danger"><br>{{ errors.name }}</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Select Category</label>
              <div class="controls">
                 <select v-model="item.category" id="selected-branch" class="select2">
                    <option value="" selected disabled>Select Category</option>
                    <option value="{{ cat.id }}" v-for="cat in categories | orderBy 'name'">
                      {{ cat.name | uppercase }}
                    </option>
                 </select>
                 <span class="text-danger"><br>{{ errors.category }}</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Select Branch</label>
              <div class="controls">
                 <select v-model="item.branch" id="selected-branch">
                    <option value="" selected disabled>Select Branch</option>
                    <option value="{{ branch.id }}" v-for="branch in branches | orderBy 'name'">
                      {{ branch.name | uppercase }}
                    </option>
                 </select>
                 <span class="text-danger"><br>{{ errors.branch }}</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Purchase Price</label>
              <div class="controls">
                <input v-model="item.purchase_price" type="text"  class="span11" placeholder="Price"  />
                <span class="text-danger"><br>{{ errors.purchase_price  }}</span>

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Selling Price</label>
              <div class="controls">
                <input v-model="item.selling_price" type="text" class="span11" placeholder="Price" />
                <span class="text-danger"><br>{{ errors.selling_price  }}</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Reorder Point</label>
              <div class="controls">
                <input v-model="item.reorder_point" type="text" class="span11" placeholder="Item reorder point" />
                <!-- <span class="help-block">Description field</span> </div> -->
                <span class="text-danger"><br>{{ errors.reorder_point  }}</span>
            </div>
            <div class="control-group">
              <label class="control-label">Additional Description</label>
              <div class="controls">
                <textarea v-model="item.additional_description" class="span11" placeholder="Optional"></textarea>
              </div>
            </div>
            <div class="form-actions">
              <button @click="gotoTable()" type="button" class="btn btn-default">Back</button>
              <button type="submit" class="btn btn-success">
                <span v-show="!saving">
                  Save
                </span>
                <span v-show="saving">
                   Saving Please wait&nbsp;&nbsp;&nbsp;
                   <i class="icon icon-spinner icon-spin icon-fw"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>  
 
    </div>